h1 {
  font-family: 'Inter', sans-serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin: 10px;
}
.grey {
  margin-left: 170px;
  -webkit-text-stroke: 1px black;
  color: white;
  font-weight: 500;
  font-size: 60px;
}
body {
  border-color: rgb(248, 245, 245);
  border-style: solid;
  border-radius: 5px;
  margin: 10px;
  margin-left: 10px;
}
